body,
html {
    margin: 0px;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-color: #00172e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

#converter {
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    font-weight: bold;
    border: 3px solid rgba(255, 255, 0, 0.9);
    border-radius: 10px;
    width: 50%;
    padding: 40px 50px 60px 50px;
    text-align: center;
    box-shadow: 10px 10px 50px black;
    box-shadow: 0 10px 25px rgba(255, 215, 0, 0.3);
    border: 3px solid rgba(255, 215, 0, 0.9); 

}

@media only screen and (max-width: 800px) {
    body, html {
        font-size: 12px;
    }
    #converter {
        width: 93%;
        padding: 30px 10px;
    }
}

.copyright {
    font-size: 14px;
    bottom: 5%;
    color: yellow;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    margin-top: 20px;
}

#heading {
    color: gold;
    text-align: center;
}

table {
    margin: 20px auto;
    color: white;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table input {
    width: 100%;
}

.modal-header,
.modal-footer {
    background-color: #333;
    color: white;
}

.modal-body {
    color: black;
}

input {
    border: none !important;
}

.info-line {
    color: thistle;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course-heading {
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#theoryTable,
#labTable {
    color: gainsboro;
}

.modal-dialog {
    border: 3px solid yellow !important;
    border-radius: 10px;
}

.borderRadius {
    border-radius: 5px !important;
}
